<!DOCTYPE html>
<html>
<head>
  <title>Eccentric</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @user %>
<%= link_to "Logout", logout_path %>
<% end %>
<%= yield %>

</body>
</html>
